@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    background-color: #D9D9D9;
    background-image: url(../assets/imgs/fundo1.png);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 34vw;
    height: 80vh;
    background-color: white;
    border-radius: 20px;
}

.box .up {
    display: flex;
    width: 100%;
    height: 8vh;
    align-items: center;
}

.box .up img {
    width: 40px;
}

.box .Cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    justify-content: center;
}

.box .Cadastro .tituloCadastro {
    display: flex;
    flex-direction: column;
    width: 62%;
}

.box .Cadastro .tituloCadastro p {
    font-size: 35px;
    margin: 0;
    font-weight: 600;
}


.box .Cadastro .tituloCadastro .logoCadastro {
    display: flex;
    align-items: center;
}

.box .Cadastro .formsCadastro {
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box .Cadastro .formsCadastro input {
    font-family: "Poppins", sans-serif;
    margin-top: 1vh;
    width: 12vw;
    height: 6vh;
    border: 1.5px solid #151515;
    border-radius: 10px;
    padding: 7px;
}

.infoAtuacao {
    margin-top: 5px;
    width: 84%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selectAreaAtuacao {
    width: 18vw;
    height: 6vh;
    font-size: 16px;
    padding-left: 16px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}

.selectUF {
    width: 5vw;
    height: 6vh;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}

.box .Cadastro .botoesCadastro {
    display: flex;
    flex-direction: column;
}

.box .Cadastro .botoesCadastro button {
    font-family: "Poppins", sans-serif;
    width: 20vw;
    height: 5vh;
    border-radius: 25px;
    margin-top: 1vh;
    border: 2px solid #151515;
    font-weight: 600;
}

.senhas {
    width: 86%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.info input {
    width: 80% !important;
}

.cadastrar {
    background-color: #151515;
    color: #FFF;
}

.esqSenha {
    background-color: #FFF;
    color: #151515;
}

.box .Cadastro .crieConta {
    display: flex;
    align-items: center;
}

.headerText {
    width: 25rem;
}

.progress{
    display: flex;
    width: 5vw;
    justify-content: space-evenly;
}

.bola {
    width: 20px;
    height: 20px;
    border: 2px solid #CD5C08;
    border-radius: 50%;
}

.atual {
    background-color: #CD5C08;
}

.box .Cadastro .crieConta a {
    color: #CD5C08;
    margin-left: 0.3vw;
}

.ADM{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}

@media(max-width: 600px) {
    .box {
        width: 100vw;
        border-radius: 0px;
        height: 100vh;
    }

    .box .Cadastro .tituloCadastro img {
        width: 41px;
    }

    .box .Cadastro .tituloCadastro p {
        font-size: 50px;
        margin: 0;
        font-weight: 600;
    }

    .box .Cadastro .tituloCadastro {
        display: flex;
        flex-direction: column;
        width: 62%;
        margin-bottom: 4rem;
        margin-top: 3rem;
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .senhas {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .box .Cadastro .formsCadastro input {
        width: 83vw;
    }

    .box .Cadastro .botoesCadastro button {
        width: 70vw;
        height: 6vh;
        font-size: 20px;
    }

    .box .Cadastro .botoesCadastro {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
    }

    .info input {
        width: 89% !important;
    }
}