@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    background-color: #151515;
    background-image: url(../assets/imgs/fundo.png);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 34vw;
    height: 69vh;
    background-color: white;
    border-radius: 20px;
}

.box .up {
    display: flex;
    width: 100%;
    height: 8vh;
    align-items: center;
}

.box .up img {
    width: 40px;
}

.box .escolha {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    justify-content: space-evenly;
}

.box .escolha .tituloescolha {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.box .escolha .tituloescolha p {
    font-size: 35px;
    margin: 0;
    font-weight: 600;
}


.box .escolha .tituloescolha .logoescolha {
    display: flex;
    align-items: center;
}



.box .escolha .crieConta {
    display: flex;
    align-items: center;

}

.box .escolha .crieConta a {
    color: #CD5C08;
    margin-left: 0.3vw;
}

.escolhas {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.escolhas .escolhaEmpresa {
    width: 25vw;
    height: 8vh;
    background-color: #FFF;
    border: 2px #CD5C08 solid;
    border-radius: 15px;
    display: flex;
    align-items: center;
    background-image: url(../assets/imgs/iconRight.png);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: 21vw;
}

.escolhas .escolhaEmpresa p{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
}

.escolhas a{
    text-decoration: none;
    color: #151515;
}

@media(max-width:600px){
    .box{
        width: 100vw;
        height: 100vh;
        border-radius: 0 !important;

    }
    .escolhas .escolhaEmpresa {
        width: 70vw;
        height: 8vh;
        background-color: #FFF;
        border: 2px #CD5C08 solid;
        border-radius: 15px;
        display: flex;
        align-items: center;
        background-image: url(../assets/imgs/iconRight.png);
        background-repeat: no-repeat;
        background-size: 2rem;
        background-position: 60vw;
    }

    .box .escolha .tituloescolha {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
}