@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    background-color: #D9D9D9;
    background-image: url(../assets/fundo.png);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body2 {
    background-image: url(../assets/backgroundSenha.png);
}

.box {
    width: 34vw;
    height: 73vh;
    background-color: white;
    border-radius: 20px;
}

.box .up {
    display: flex;
    width: 100%;
    height: 8vh;
    align-items: center;
    margin-top: 2vh;
    margin-left: 2vh;
}

.box .up img{
    width: 40px;
}

.box .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    justify-content: center;
}

.box .login .tituloLogin {
    display: flex;
    flex-direction: column;
    width: 62%;
}

.box .login .tituloLogin p{
    font-size: 35px;
    margin: 0;
    font-weight: 600;
}

.box .login .tituloLogin .logoLogin p{
    color: #CD5C08;
}

.box .login .tituloLogin .logoLogin{
    display: flex;
    align-items: center;
}

.box .login .formsLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box .login .formsLogin input {
    font-family: "Poppins", sans-serif;
    margin-top: 1vh;
    width: 20vw;
    height: 6vh;
    border: 1.5px solid #151515;
    border-radius: 10px;
    padding: 7px;
}

.box .login .botoesLogin {
    display: flex;
    flex-direction: column;
}

.box .login .botoesLogin button{
    font-family: "Poppins", sans-serif;
    width: 20vw;
    height: 5vh;
    border-radius: 25px;
    margin-top: 1vh;
    border: 2px solid #151515;
    font-weight: 600;
}

.entrar{
    background-color: #151515;
    color: #FFF;
}

.esqSenha{
    background-color: #FFF;
    color: #151515;
}

.esqSenha a {
    background-color: #FFF;
    color: #151515;
    text-decoration: none;
}

.box .login .crieConta{
display: flex;
align-items: center;

}

.box .login .crieConta a {
    color: #CD5C08;
    margin-left: 0.3vw;
}

@media(max-width: 600px) {
    .box {
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
    }

    .box .login .tituloLogin img {
        width: 41px;
    }

    .box .login .tituloLogin p {
        font-size: 50px;
        margin: 0;
        font-weight: 600;
    }

    .box .login .tituloLogin {
        display: flex;
        flex-direction: column;
        width: 62%;
        margin-bottom: 4rem;
        margin-top: 3rem;
    }

    .box .login .formsLogin input {
        width: 80vw;
    }

    .box .login .botoesLogin button {
        width: 70vw;
        height: 6vh;
        font-size: 20px;
    }

    .box .login .botoesLogin {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
    }
}