@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    background-color: #FFF5E4;
}

a{
    text-decoration: none;
    color: #FFF5E4;
}

a:hover{
    color:#CD5C08
}

.tituloText h1{
    font-size: 20px;
    font-weight: 300;
    color: #FFF5E4;
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.container .navLateral {
    height: 100vh;
    width: 21vw;
    background-color: #CD5C08;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .navLateral .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    justify-content: center;
}

.btnNav{
    color: #FFF5E4;
    font-size: 18px;
    width: 13vw;
    height: 6vh;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.sectionUp {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 42vh;
}

.fundoBtn {
    background-color: #FFF5E4;
    width: 17vw;
    height: 6vh;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 2rem;
    height: 2rem;
    transition: 500ms;
}

.fundoBtn p{
    margin-left: 3rem;
}

.press {
    color: #CD5C08;
    background-color: #FFF5E4;
    width: 13vw;
    height: 6vh;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.press p{
    margin: 0;
}

.btnNav:hover{
    .fundoBtn{
        color: #CD5C08;
        background-color: #FFF5E4;
        width: 13vw;
        height: 6vh;
        border-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 500ms;
    }
    .fundoBtn p{
        margin: 0;
    }
    a{
        color: #CD5C08;
    }
}

.sectionDown{
    margin-top: 12vh;
    display: flex;
    height: 15vh;
    flex-direction: column;
    justify-content: space-around;
}

.containerCadastro {
    height: 100vh;
    width: 79vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 20px;
    font-weight: 400;
}

.containerCadastro .boxCadastro {
    background-color: #FFF;
    width: 75vw;
    height: 95vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 8px;
}

.containerCadastro .boxCadastro .cadastrarFunc .formsCadastro{
    margin-left: 10px;
    height: 82%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nome input{
    border-radius: 15px;
    width: 414px;
    height: 6vh;
    padding-left: 20px;
}
.email input{
    border-radius: 15px;
    width: 414px;
    height: 6vh;
    padding-left: 20px;
}

.doisForms input {
    width: 188px;
    height: 6vh;
    border-radius: 15px;
    padding-left: 20px;
}

.doisForms{
    display: flex;
    justify-content: space-evenly;
}
.btnCadastrar{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btnCadastrar button {
    font-size: 18px;
    font-weight: 600;
    background-color: #fcfcfb;
    height: 5vh;
    width: 10vw;
    border-radius: 25px;
    transition: 900ms;
    cursor: pointer;
}
.btnCadastrar button:hover {
    background-color: #FFF5E4;

}



.listaFunc{
    margin-bottom: 15px;
    width: 33vw;
    background-color: #FFF5E4;
    border-radius: 8px;
}

.tituloLista{
    margin-left: 2vw;
}
.boxFuncionarios{
    width: 100%;
    margin-top: 25px;
    height: 87%;
}
.cardFuncionario {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    align-items: center;
    margin-bottom: 20px;
}

.collection{
    margin-left: 10px;
    display: flex;
    width: 11vw;
    justify-content: space-around;
    align-items: center;
}

.icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: black;
}
.nomeF{
    font-size: 18px;
}

.btnInfo{
    height: 100%;
    width: 6vw;
}

.btnInfo button{
    border: none;
    height: 100%;
    width: 100%;
    background-color: #db803b;
    color: #FFF5E4;
    font-weight: 600;
    transition: 900ms;
}

.btnInfo button:hover{
    background-color: #CD5C08;
}

.notif-num {
    display: flex;
    background-color: #CD5C08;
    padding: 20px;
    border-radius: 20px 0px 0px 20px;
    color: #FFF5E4;
    align-items: center;
}

.notif {
    margin-left: 5px;
    max-width: 800px;
    background-color: #FFF5E4;
    outline: 2px;
    border-color: #CD5C08;
    padding: 20px;
    border-radius: 0px 20px 20px 0px;
    border-top: 5px solid #CD5C08;
}



.notificacao {
    margin-top: 10px;
    display: flex;
}